* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1 {
    text-align: center;
    background-color: blue;
    color: beige; /* Change the font color of h1 to beige */
}

hr {
    font-weight: bold;
    height: 3px;
    background-color: brown;
    margin-bottom: 10px;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background-color: aquamarine;
}

.resetButton{
    font-family: cursive;
    display: block; /* Ensure the button is displayed as a block-level element */
    margin: 10px auto; /* Center the button horizontally */
    padding: 10px 20px; /* Add padding to the button */
    font-size: 18px; /* Adjust the font size */
    background-color: violet;
    color: brown;
    border: none; /* Remove the default button border */
    cursor: pointer;
    text-align: center;
    text-transform: uppercase; /* Change the text to uppercase */
    border-radius: 5px; /* Add rounded corners */
    transition: background-color 0.3s ease; /* Add a transition effect */
}


.resetButton:hover {
    background-color: purple;
    color: white;
}
